.container {
  width: 100%;
}
.title {
  margin-top: 10px;
  text-align: center;
}

.row {
  margin: 30px;
}

.order_table {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  margin: 10px;
}

table {
  border-collapse: collapse;
}
